{% load i18n %}
{% autoescape off %}

{% blocktranslate with username=user.get_username %}
مرحبًا {{ username }}،
{% endblocktranslate %}

{% translate "You requested a password reset for your To Do Solo account." %}

{% translate "Please click the link below to create a new password:" %}

{{ protocol }}://{{ domain }}{% url 'tasks:password_reset_confirm' uidb64=uid token=token %}

{% translate "If you did not request a password reset, you can safely ignore this email." %}

{% translate "Regards," %}

To Do Solo

{% endautoescape %}

