{% extends "layouts/auth.html" %}

{% load static %}
{% load i18n %}

{% block title %}
    {% translate "Forgot Password" %}
{% endblock %}

{% block extra_css %}

<link
    rel="stylesheet"
    href="{% static 'css/pages/forgot-password.css' %}"
>

{% endblock %}

{% block content %}

<div class="auth-page">

    <div class="auth-card">

        <h1>
            {% translate "Forgot Password?" %}
        </h1>


        <p class="auth-description">
            {% translate "Enter your email address and we will send you a link to reset your password." %}
        </p>


        <form method="post">

            {% csrf_token %}


            <div class="form-group">

                <label for="id_email">
                    {% translate "Email address" %}
                </label>


                <input
                    type="email"
                    name="email"
                    id="id_email"
                    class="form-input"
                    placeholder="{% translate 'Enter your email' %}"
                    autocomplete="email"
                    required
                >

            </div>


            <button
                type="submit"
                class="button button-primary"
            >
                {% translate "Send Reset Link" %}
            </button>

        </form>


        <div class="auth-footer">

            <a href="{% url 'tasks:login' %}">
                {% translate "Back to Login" %}
            </a>

        </div>

    </div>

</div>

{% endblock %}
