<!DOCTYPE html>
<html>
<head>
    <title>API Tasks</title>
</head>
<body>

<h1>My Tasks (API)</h1>

<!-- input -->
<input type="text" id="taskInput" placeholder="Enter task">

<!-- زر -->
<button onclick="addTask()">Add</button>

<!-- قائمة -->
<ul id="taskList"></ul>

<script>

const API_URL = "http://127.0.0.1:8000/api/tasks/";

// 🟢 جلب المهام
function loadTasks() {
    fetch(API_URL)
    .then(response => response.json())
    .then(data => {
        showTasks(data); // عرض المهام
    });
}

// 🟢 عرض المهام (DOM)
function showTasks(tasks) {
    let list = document.getElementById("taskList");

    list.innerHTML = ""; // تنظيف القائمة

    tasks.forEach(task => {
        let li = document.createElement("li"); // إنشاء li
        li.textContent = task.title; // وضع النص
        list.appendChild(li); // إضافته
    });
}

// 🟢 إضافة مهمة
function addTask() {
    const input = document.getElementById("taskInput");

    // منع الإدخال الفارغ
    if (input.value.trim() === "") return;

    fetch(API_URL, {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            title: input.value
        })
    })
    .then(response => response.json())
    .then(() => {
        input.value = ""; // تفريغ الحقل
        loadTasks(); // تحديث القائمة
    });
}

// تحميل أولي
loadTasks();

</script>

</body>
</html>