{% load static %}
<aside class="sidebar">

    <!-- ==========================================
         LOGO
    =========================================== -->

    <div class="sidebar-logo">

        <a href="/">

            To Do Solo

        </a>

    </div>

    <!-- ==========================================
         MENU
    =========================================== -->

    <nav class="sidebar-nav">

        <ul>

            <li>

                <a
                    href="#"
                    class="active"
                >

                    <img
                        src="{% static 'icons/dashboard.svg' %}"
                        alt="Dashboard"
                    >

                    <span>

                        Dashboard

                    </span>

                </a>

            </li>

            <li>

                <a href="#">

                    <img
                        src="{% static 'icons/tasks.svg' %}"
                        alt="Tasks"
                    >

                    <span>

                        Tasks

                    </span>

                </a>

            </li>

            <li>

                <a href="#">

                    <img
                        src="{% static 'icons/statistics.svg' %}"
                        alt="Statistics"
                    >

                    <span>

                        Statistics

                    </span>

                </a>

            </li>

            <li>

                <a href="#">

                    <img
                        src="{% static 'icons/achievements.svg' %}"
                        alt="Achievements"
                    >

                    <span>

                        Achievements

                    </span>

                </a>

            </li>

            <li>

                <a href="#">

                    <img
                        src="{% static 'icons/settings.svg' %}"
                        alt="Settings"
                    >

                    <span>

                        Settings

                    </span>

                </a>

            </li>

        </ul>

    </nav>

</aside>